<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legal Definitions Extractor</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/myapp/style.css">

    {# Loading Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
<div  style="background: white; background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,101,189,0.9360119047619048) 0%, rgba(255,255,255,1) 100%);">
<h1 style="color: white; text-shadow: 0 0 10px rgba(0, 0, 0, 0.8),
               0 0 20px rgba(255, 255, 255, 0.5),
               0 0 30px rgba(255, 255, 255, 0.3),
               0 0 40px rgba(255, 255, 255, 0.1); letter-spacing: 2px">Identification and Visualization of Legal Definitions and their Relations Based on European Regulatory Documents</h1>
<div style="text-align: center; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);">
<p>Welcome to the tool capable of identifying legal definitions and their semantic relations, such as hyponymy, meronymy, and synonymy.</p>
<p>This prototype is working with <b>Regulations of the European Parliament and of the Council</b> published on EUR-Lex.</p>
<p>Only the regulations including an article <em>"Definitions"</em> are processed.</p>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex align-items-center justify-content-center">
        {{ form }}
            </div>
        <br>
        <div class="d-grid gap-4 d-md-flex justify-content-md-center">
            <button class="btn btn-primary btn-lg" type="submit">Upload</button>
            <button class="btn btn-secondary btn-lg" type="reset">Reset</button>
        </div>
    </form>
</div>
<br>
    <br>
    </div>
<div style="text-align: center">
<ul class="list-group">
    <li class="list-group-item"><b>Here are some advantages of using the prototype:</b></li>
    <li class="list-group-item list-group-item-primary">No need to look up the meaning of legal definitions every time since the prototype provides a modified regulation with annotations containing the explanation of each legal term.</li>
    <li class="list-group-item list-group-item-light">The frequency of the definitions and their locations are further listed, so the scope and the objective of the regulation can be assumed before starting to read the regulation.</li>
    <li class="list-group-item list-group-item-primary">Semantic relations provide a deeper understanding of the meaning of legal definitions and contribute to a better interpretation of the legal text.</li>
    <li class="list-group-item list-group-item-light">Improved efficiency of analyzing regulations by considering only the sentences containing the particular legal term.</li>
</ul>
    </div>
<a href="https://eur-lex.europa.eu/homepage.html">
<img src="https://umwelt.provinz.bz.it/images/home_0_Banner-EUR-Lex.jpg", alt="EUR-Lex Logo", style="position: absolute; bottom: 0px; text-align: center; margin: auto; max-height: 100%; max-width: 100%; left: 0px; right: 0px; ">
</a>
</body>
</html>